* {
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	color: #000000;
	margin: 10px auto;
	max-width: 900px;
	padding-top: 15px;
}

a{
	color: #F9D483;
	text-decoration: none;
}

h1 > a{
	color: #F9D483;
	text-decoration: none;
	font-weight: 300;
	font-size: 50px;
	display: inline;
}

h2{
	font-weight: 300;
}

h2 > a{
	font-weight: 300;
	color: #000000;
	text-decoration: none;
}

nav {
	max-width: 900px;
}

nav > a{
	color: white;
    padding: .5em;
    text-decoration: none;
    display: inline-block;
    background: #BABABA;
    width: 16.3%;
    text-align: center;
}

section{
	width: 70%;
	float: left;
	padding-right: 50px;
}

article{
	margin: 10px auto;
	line-height: 1.4em;
}

hr{
	color: #D2D2D2;
}


img {
	max-width: 100%;
}

h3{
	color: #D2D2D2;
	font-weight: 300;
	margin: 50px 0px 0px 0px;
	font-size: 25px;
}

.dropcap {
 font-size: 80px;
 float: left; 
 color: #D2D2D2;
 line-height: 80%;
 margin: 10px 12px -12px 0;
}

h4 {
	color: #BABABA;
}

h4 >a {
	float: right;
	text-decoration: none;
	color: #F9D483;
	margin: 20px 20px 0px 10px;
}

aside{
	width: 30%;
	float: left;
	padding-top: 80px;
}

.more{
	text-align: right;
	font-weight: bold;
}

footer {
	clear: both;
}

.p{
	color: #D2D2D2;
}

