/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey - #D4E1DB
    Dark Grey - #3C3A3A
    Grey/Black(text color) - #080808
    Yellow - #FEDB0D
    Red - #FF0121
*/


/* Global
   ================================================================ */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #D4E1DB;
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
    font-family: 'Oswald', sans-serif;
  }

 

/* Layout (columns, floats, etc.)
   ================================================================ */

section{
  width: 22%;
  float: left;
  padding: 15px 15px 15px 15px;
}

.designer{
  background-color: gray;
  width: 280px;
  height: 280px;
  float: left;
  margin-left: 35px;
  padding: 0px 0px 50px 0px;
  border: solid 5px white;
}

.designer p{
  margin-left: 50px;
}  

.buttons{
  background-color: white;
  margin: 0px -32px 0px 35px; 
  padding-bottom: 50px;
}

/* Header
   ================================================================ */
header{
  float: left;
  width: 100%;
  display: inline-block;
  background-color: #3C3A3A;
  border-bottom: solid #FEDB0D 5px;
}

h1{
  display: inline-block;
}

h1 > a{
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 30px;
}


/* Footer
   ================================================================ */
footer{
  clear: both;
}

footer>p{
  background: #3C3A3A;
  color: white;
  font-size: 20px;
  padding: 20px 0px 20px 30px;
}

/* Navigation
   ================================================================ */
nav{
  display: inline-block;
  float: right;
}

.navbar li{
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  color: white;
  padding: 10px 30px 0px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.navbar strong{
  text-transform: uppercase;
}

.bold a{
  font-family: 'Oswald', sans-serif;
}


/* Buttons
   ================================================================ */
.button1{
  background: #3C3A3A;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  text-decoration: none;
}

.contact{
  background: red;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 70px;
  border-radius: 5px;
  margin: -5px 55px 0px 55px;
  font-family: 'Oswald', sans-serif;
}



